body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(34, 33, 33);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(104, 104, 104, 0.3);
  background-color: rgb(34, 33, 33);
}


.logo {
  height: 50px;
  border-radius: 50px;
}


nav a {
  margin: 0 16px;
  text-decoration: none;
  color: #fbf8f8;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f97316; 
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: #f97316;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}






.produtos, .carrinho {
    text-align: center;
    padding: 20px;;
}

h3 {
  /* color: #f3efef;*/
  color: black;

}

.NomeBebibas {
  color:white;
}

.produto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #a9a8a8;
  padding: 10px 0;
}

.produto img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(104, 104, 104, 0.3);
  margin-bottom: 10px;
  
}

.produto button {
  padding: 5px 10px; 
  gap: 5px;
  background: #e04f20;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}



ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 1700px) {
  .produto {
    flex-direction: column;
    align-items: center; 
  }

  .produto img {
    width: 60%;
    gap: 10px 20px;
  }
}



.carrinho {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.carrinho h2 {
  grid-column: 1 / -1;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.carrinho div {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.carrinho h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.carrinho input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: start;
}

.carrinho label {
  display: block;
  margin: 6px 0;
}

.carrinho button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #d75c2d; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.carrinho ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carrinho li {
  display:flex;
  justify-content: space-between;
  margin-bottom: 8px;
  
}

.carrinho li button {
  width: 130px;
  padding: 5px 10px; 
  background-color: darkorange; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.botao-voltar {
  display: inline-block;
  background-color: #f97316; 
  color: white;
  padding: 12px 24px;
  border-radius: 9999px; 
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.voltar-cardapio{
  display: inline-block;
  background-color: #f97316; 
  padding: 12px 24px;
  border-radius: 9999px; 
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; 
}


.botao-voltar:hover {
  transform: translateY(-2px);
  background-color: #ea580c; 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


button:hover {
   background-color: #ea580c;
}


.pagamento {
  text-align: left;

}

h2 {
   /* color: white; */
   color: White;
   text-align: center;
}

h3{
  color: black;
}

h4{
  color: white;
  font-size: 12px;
  font-weight: 200;
}

p {
    color: green;
    text-align: center;
}

.TotalFinal{
  color: green;
}


/*
.produtoG {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}  

.produtoG img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit:cover;
    
}

.produtoG button{
  font-size: 20px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.produtoG button:hover {
  background-color: #ddd;
}  
*/


.produtoG {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 20px;
}

.coluna {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coluna.nome {
  flex: 1;
  justify-content: flex-start;
}

.coluna.imagem {
  width: 70px;
  height: 70px;
}

.coluna.botao {
  width: 60px;
}

.NomeBebibas {
  margin: 0;
  font-size: 18px;
  color: white;
}

.Gelo {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}

.produtoG button {
  font-size: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100%;
}

.produtoG button:hover {
  background-color: #ddd;
}


